In [1]:
import os
import sys
import numpy as np
import pandas as pd
from math import sqrt
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
index = ["matematica_pura(M)", "matematica_aplicada(A)", "estatistica(E)", "computacao(C)"]
homens = [70, 15, 10, 20]
mulheres = [40, 15, 20, 10]

df = pd.DataFrame({"homens(H)": homens, "mulheres(M)": mulheres}, index=index)
df

                        homens(H)  mulheres(M)
matematica_pura(M)             70           40
matematica_aplicada(A)         15           15
estatistica(E)                 10           20
computacao(C)                  20           10

In [9]:
df_totals = df.copy()
df_totals.loc["total"] = df_totals.sum()
df_totals["total"] = df_totals.sum(axis=1)

In [10]:
df_totals

                        homens(H)  mulheres(M)  total
matematica_pura(M)             70           40    110
matematica_aplicada(A)         15           15     30
estatistica(E)                 10           20     30
computacao(C)                  20           10     30
total                         115           85    200

$P(E)$

In [13]:
P_E = df_totals.loc["matematica_pura(M)", "total"] / df_totals.loc["total", "total"]
P_E

0.55